model_list:
{% for gpu in GPUS %}
  - model_name: {{ MODEL_NAMES[loop.index0] }}
    litellm_params:
      model: openai/{% if MODELS[loop.index0][:1] == '/' %}{% set path_parts = MODELS[loop.index0].split('/') %}/root/{{ path_parts[-1] }}{% else %}{{ MODELS[loop.index0] }}{% endif %}

      api_base: http://vllm{{ loop.index }}:8000/v1
      api_key: none
      rpm: 1440
      stop: "<|im_end|>"
    model_info:
      version: 2
{% endfor %}
litellm_settings: # module level litellm settings - https://github.com/BerriAI/litellm/blob/main/litellm/__init__.py
  drop_params: True
