好奇心旺盛な人間と人工知能アシスタントとの会話。 アシスタントは人間の質問に対して、役立つ、詳細かつ丁寧な答えを返します。
### ユーザー: コンテキストを提示します
{{page}}
この情報を利用して次のような質問回答を作りました。
{{qa}}
この回答について、回答が正しいときは誤答を、回答が誤っているときは正答を作成することで、正答と誤答のペアを構成してください。
質問文を利用するときは上記のコンテキストが見れないので適切に主語を補ってください。フォーマットは下記のjson形式としてください。
{"正答":"（回答文）", "誤答":"（回答文）"}
### アシスタント:
