好奇心旺盛な人間と人工知能アシスタントとの会話。アシスタントは人間の質問に対して、役立つ、詳細かつ丁寧な答えを返します。
### ユーザー: コンテキストを提示します
{{page}}
この情報を利用していくつか日本語で質問回答の例を作ってください。質問文を利用するときは上記のコンテキストが見れないので適切に主語を補ってください。フォーマットは下記のjson形式としてください。
{"質問":"（質問文1）", "回答":"（回答文1）"}
{"質問":"（質問文2）", "回答":"（回答文2）"}
### アシスタント:
